<div class="lastContact">
	<div class="lastContact-title">
		<span id="recently" class="pl10">最近联系人</span>
	</div>
	<ul class="lastContact-list">
		<li class="lastContact-list__item">
			<a href="">
				<img src="../../assets/images/headPic.png">
			</a>
		</li>
		<li class="lastContact-list__item">
			<a href="">
				<img src="../../assets/images/headPic.png">
			</a>
		</li>
		<li class="lastContact-list__item">
			<a href="">
				<img src="../../assets/images/headPic.png">
			</a>
		</li>
	</ul>
	<div class="lastContact-editor">
		<img src="../../assets/images/editor_09.png">
	</div>
</div>