<div id="right_userInfo">
	<div class="headPortrait _f-l"><img src="../../assets/images/head.png"></div>
	<div class="right_uInfo _f-l">
		<div class="uInfo_uname">
			<span>陈老师</span>
			<a href=""><img src="../../assets/images/configer.png"></a>
		</div>
		<div class="uInfo_detail">
			<a class="link uInfo_detail_user" href="###">个人中心</a>
			<a class="link" href="###">短消息</a>
			<a class="link" href="###">电子邮件</a>
		</div>
	</div>
</div>
<div id="right_menu" class="_t-center" (click)="check()"><img src="../../assets/images/menu.png"></div>