<img class="body_foot_background" src="../../assets/images/footer.png">
<div id="time_line_transition">
	<!-- year -->
	<div id="time_lastYear" class="fl tac">
		<span class="text year_title">2016</span>
		<span class="time_line"></span>
	</div>
	<div class="odd fl tac _Jan line_position">
		<span class="text tac">01月</span>
		<span class="time_line"></span>
	</div>
	<div class="even fl tac _Feb line_position">
		<span class="text tac">02月</span>
		<span class="time_line"></span>
	</div>
	<div class="odd fl tac _Mar line_position">
		<span class="text tac">03月</span>
		<span class="time_line"></span>
	</div>
	<div class="even fl tac _Apr line_position">
		<span class="text tac">04月</span>
		<span class="time_line"></span>
	</div>
	<div class="odd fl tac _May line_position">
		<span class="text tac">05月</span>
		<span class="time_line"></span>
	</div>
	<div class="even fl tac _Jun line_position">
		<span class="text tac">06月</span>
		<span class="time_line"></span>
	</div>
	<div class="odd fl tac _Jul line_position">
		<span class="text tac">07月</span>
		<span class="time_line"></span>
	</div>
	<div class="even fl tac _Aug line_position">
		<span class="text tac">08月</span>
		<span class="time_line"></span>
	</div>
	<div class="odd fl tac _Sep line_position">
		<span class="text tac">09月</span>
		<span class="time_line"></span>
	</div>
	<div class="even fl tac _Oct line_position">
		<span class="text tac">10月</span>
		<span class="time_line"></span>
	</div>
	<div class="odd fl tac _Nov line_position">
		<span class="text tac">11月</span>
		<span class="time_line"></span>
	</div>
	<div class="even fl tac _Dec line_position">
		<span class="text tac">12月</span>
		<span class="time_line"></span>
	</div>
	<div id="time_nextYear" class="fl tac">
		<span class="text year_title">2017</span>
		<span class="time_line"></span>
	</div>
</div>