<div class="personInfo">
	<div class="infoHead">
		<div id="closeInfo" class="fr"><img src="images/menu_09.png"></div>
		<div class="name">
			<img class="fl" src="images/head.png">
			<span class="infoName f18 fl"></span>
			<span class="staus fl f12">在线</span>
		</div>
	</div>
	<div class="infoBody">
		<div class="tab">
			<ul>
				<li class="f12 fl tac active mr">学习信息</li>
				<li class="f12 fl tac mr">成长档案</li>
				<li class="f12 fl tac">明析统计</li>
			</ul>
		</div>
		<div class="content-stu content"></div>
		<div class="content-extam content"></div>
		<div class="content-hWork content"></div>
	</div>
</div>